@font-face {
  font-family: "iconfont"; /* Project id 3064823 */
  src: url('iconfont.woff2?t=1640572411204') format('woff2'),
       url('iconfont.woff?t=1640572411204') format('woff'),
       url('iconfont.ttf?t=1640572411204') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwucheman:before {
  content: "\e600";
}

.icon-xiaolian:before {
  content: "\e64f";
}

